.tamaño {
    height: 60px;
    width:  800px;
    background-color: darkseagreen;
    font-size: 16px;
    
}

#contenedor {
    float: right;
}

p{
    text-align: justify;
}


div img
{
    
    float: right;
    margin-left: 15px;
}

#textoF{
    width: 500px;
    text-align: right;
    background-color: gold;
}
